<!-- login.component.html -->

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>Login</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="OnSubmit()">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" [(ngModel)]="this.userEmail" placeholder="Enter your username" name="email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" [(ngModel)]="this.userPassword" placeholder="Enter your password" name="password">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
          <div class="card-footer">
            <p class="text-center">Don't have an account? <a routerLink="/register">Register here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  